@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Azure Training</h1>
    <p class="lead">Hayırlı işler dilerim. Karamürsel belediye başkanı</p>
</div>
